# Built files
#############
/assets/block/build/

# System files
##############
._*
.DS_Store
ehthumbs.db
Thumbs.db

# Dependencies
##############
/node_modules/
/vendor/

# Editor configs
################
/.vscode
/.idea

# RELEASE DIRECTORY
###################
/.tmp-svn
